#containerVertical {
    height: 400px;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto
}

#comparison {
    display: flex;
}

#containerRound1 {
    height: 400px;
}

#containerRound2 {
    height: 400px;
}

@media screen and (max-width: 720px) {
    #comparison {
        flex-direction: column; /*dzieci ustawiają się pod sobą*/
    }
}

