body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#container {
    max-width: 1450px;
    margin: 0 auto;

}

#particles-js {
    background-image: url("image/image.jpg");
    background-size: cover;
    height: 100vh;

}

.btext {
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    line-height: 0.4em;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 1rem;
}

.btn {
    color: #fff;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
}

.btn:hover {
    color: #b19295;
    border: #fff 1px solid;
}

#containerVertical {
    height: 400px;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto
}

#comparison {
    display: flex;
    align-items: center;
}

#containerRound1 {
    height: 400px;
}

#containerRound2 {
    height: 400px;
}

@media screen and (max-width: 720px) {
    #comparison {
        flex-direction: column; /*dzieci ustawiają się pod sobą*/
    }
    .btext {
        line-height: 2em;
    }
}

